/* Flexbox */

.flex {
    display: flex;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.column {
    flex-direction: column;
}

.justify-items-center {
    justify-items: center;
}

.justify-content-center {
    justify-content: center
}

.align-center {
    align-items: center;
}

/* Grid */

.grid {
    display: grid;
}
