@import url('reset.css');
@import url('helpers.css');

* {
    box-sizing: border-box;
}

a {
    color: blue;
    cursor: pointer;
}

a:hover {
    color: red;
}

.wrapper {
    max-width: 980px;
    margin: 0 auto;
}
/* Page layout */

main {
    grid-template-areas: 
    "main-header"
    "main-content"
    "main-footer";
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 100px;
    grid-row-gap: 5px;
}

/* Start Main-Header */
.main-header {
    grid-area: main-header;
    width: 100%;
    background-color: #1e272e;
}

.header-nav > * {
    margin: 0 5px;
}

/* End Main-Header */

.main-content {
    grid-area: main-content;
    width: 100%;

}

/* Start Main-Footer */

.main-footer {
    grid-area: main-footer;
    width: 100%;
    background-color: #2d3436;
}

.contact-container {
    background-color: #636e72;
    width: 100%;
}

/* End Main-Footer */

/* Start of Gallery */

.gallery-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-row-gap: 10px;
}

.gallery-item {
    cursor: pointer;
    background-size: center;
    background-image: url('../img/0.jpg');
}

.gallery-item img {
    width: 100%;
    height: auto;

}

/* End of Gallery */


/* Start of App CSS */

.editor-menu {
    background-color: #636e72;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    order: 1;
}



.canvas-container {
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#appCanvas {
    position: absolute;
    top: 0;
    left: 0;
}


.edit-line {
    cursor: pointer;
    touch-action: none;
    user-select: none;
    position: absolute;   
    outline: none;
    color: #fff;
    background: none;
    border: none;
    font-size: 32px;
}

.edit-line:active {
    border: 3px dashed red;
}

.edit-line:focus {
    border: 2px dashed black;
}

.edit-line.selected {
    border: 3px dashed blue;
}


/* End of App CSS */


/* hexagon */

.hexagon {
    position: relative;
    height: 210px;
    width: 200px;
    background: white;
}
  .hexagon-before {
    position: absolute;
    content: '';
    background-image: url('../img/0.jpg');
    background-size: cover;
    top: 4px;  /* border width */
    left: 4px;  /* border width */
    height: calc(100% - 8px);  /* 100% - (2 * border width) */
    width: calc(100% - 8px);  /* 100% - (2 * border width) */
    
}

  .hexagon, .hexagon-before {
    /* -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); */
    clip-path: polygon(50% 0%, 100% 25%, 100% 80%, 50% 100%, 0% 80%, 0% 25%);
    
}