@import url('reset.css');
@import url('helpers.css');

* {
    box-sizing: border-box;
}

a {
    color: blue;
    cursor: pointer;
}

a:hover {
    color: red;
}

/* Grid layout */

main {
    grid-template-areas: 
    "header"
    "main-content"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 10px minmax(1fr, 80vh) 100px;
    grid-row-gap: 5px;
}

.main-header {
    grid-area: header;
    width: 100%;
}

.main-content {
    grid-area: main-content;
    width: 100%;

}

.main-footer {
    grid-area: footer;
    width: 100%;
}

/* Start of Gallery */

.gallery-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-row-gap: 10px;
}

.gallery-item {
    cursor: pointer;
    border: 1px solid black;
    width: 200px;
}

.gallery-item img {
    width: 100%;
}



/* End of Gallery */

/* Start of Canvas CSS */

.canvas-container {
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#appCanvas {
    position: absolute;
    top: 0;
    left: 0;
}


.edit-line {
    cursor: pointer;
    touch-action: none;
    user-select: none;
    position: absolute;   
    outline: none;
    color: black;
    background: none;
    border: none;
}

.edit-line:active {
    border: 3px dashed red;
}

.edit-line:focus {
    border: 1px dashed black;
}


/* End of Canvas CSS */