@import url('reset.css');
@import url('helpers.css');

/* Fonts */
@font-face {
    font-family: Lato, sans-serif;
    src: url('../fonts/Lato/Lato-Regular.ttf');
}

html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

a {
    color: blue;
    cursor: pointer;
}

a:hover {
    color: red;
}

.wrapper {
    max-width: 980px;
    margin: 0 auto;
}
/* Page layout */

main {
    grid-template-areas: 
    "main-header"
    "main-content"
    "main-footer";
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 100px;
    grid-row-gap: 5px;
}

/* Start Main-Header */
.main-header {
    grid-area: main-header;
    width: 100%;
    background-color: #1e272e;
    font-family: Lato;
}

.header-nav > * {
    margin: 0 5px;
}

.logo {
    color: #e3e3e3;
    font-size: 1.375rem;
    margin: 0 20px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    transition: color .3s;
}

.nav-link:hover {
    color: #2eb398;
}

/* End Main-Header */

.main-content {
    grid-area: main-content;
    width: 100%;

}

/* Start Main-Footer */

.main-footer {
    grid-area: main-footer;
    width: 100%;
    background-color: #2d3436;
}

.contact-container {
    background-color: #636e72;
    width: 100%;
}

/* End Main-Footer */

/* Start of Gallery */

.gallery-container {
    grid-template-columns: repeat(4, 180px);
  
}

.gallery-item {
    cursor: pointer;
}



.hexagon {
    position: relative;
    height: 205px;
    width: 180px;
}
  .hexagon-before {
    position: absolute;
    content: '';
    background-image: url('../img/0.jpg');
    background-size: cover;
    top: 4px;  /* border width */
    left: 4px;  /* border width */
    height: calc(100% - 8px);  /* 100% - (2 * border width) */
    width: calc(100% - 8px);  /* 100% - (2 * border width) */
    
}

  .hexagon, .hexagon-before {
    /* -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    
}

/* End of Gallery */


/* Start of App CSS */

.editor-menu {
    background-color: #636e72;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    order: 1;
}



.canvas-container {
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#appCanvas {
    position: absolute;
    top: 0;
    left: 0;
}


.edit-line {
    cursor: pointer;
    touch-action: none;
    user-select: none;
    position: absolute;   
    outline: none;
    color: #fff;
    background: none;
    border: none;
    font-size: 32px;
    -webkit-text-stroke: 1px black;
}

.edit-line > button {
    margin-left: 5px;
}

.edit-line .btn-delete {
    visibility: hidden;
}
.actual-text {
    outline: none;
}

/* .actual-text:focus {
    border: 1px dashed #1e272e;
} */

.edit-line.selected {
    border: 3px dashed #0fbcf9;
}

.edit-line.selected .btn-delete {
    visibility: visible;
}
/* End of App CSS */

/* Buttons */

.btn {
    cursor: pointer;
    border: none;
    padding: 5px;
}